:root {
	--link-hover: #29c5e6;
}
#wrapper{
    max-width: 960px;
    margin: auto;
    border: 2px solid #4c59f3;
}
footer sup{
    font-size: 0.7em;
}
footer a{
    text-decoration: none;
    cursor: pointer;
    color: var(--link-hover);
}
footer a:hover{
    color: #ff803f;
}
.error{
    color: #f31281;
}
.info{
    color: #EC8C22;
}
.error, .info{
    margin-top:30px;
    width: 100%;
    border: 2px solid;
}
.error .message, .info .message{
    margin-left: 30px;
    padding-bottom: 15px;
    font-size: 1.21em;
}
.error .label, .info .label{
    font-weight: bold;
    font-size: 0.8em;
    padding-top :15px;
    padding-left: 15px;
    padding-bottom: 5px;
}
article{
    margin: 10px 0;
    display: block;
}
article .image{
    float: left;
    margin: 0 10px;
}
article::after {
    content:"";
    display:block;
    clear:both;
}
article .image {
    width: 30%;
}
article .image img{
    height: auto;
    width: 100%;
}
article .asset a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-family: Proxima Nova,Proxima-Nova,proxima-nova,Helvetica,Arial,sans-serif;
}
article .asset h3{
    font-size: 1.294em;
    line-height: 1.1em;
    text-transform: none;
    font-family: Panton,sans-serif;
    font-weight: 600;
    letter-spacing: -.009em;
}
article .asset h3:hover{
    color: var(--link-hover);
}